<%- include('includes/head.ejs', {username: username}) %>

<div class="columns">
  <% for (let herram of herramientas) { %>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="<%= herram.imagen %>"
            alt="Imagen de <%= herram.nombre %>"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="<%= herram.imagen %>"
                alt="Imagen de <%= herram.nombre %>"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= herram.nombre %></p>
            <p class="subtitle is-6">@<%= herram.nombre%></p>
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
        </div>
      </div>
    </div>
  </div>

  <% } %>
</div>


<h1 class="title">Agregar una herramienta</h1>
<form action="/herramientas/armar" method="POST">
  <label class="label" for="nombre">Nombre</label>
  <input name="nombre" id="nombre" type="text" class="input" /><br />
  <label class="label" for="imagen">Imagen</label>
  <input name="imagen" id="imagen" type="text" class="input" /><br /><br />
  <label class="label" for="duracion">Duracion</label>
  <input name="duracion" id="duracion" type="text" class="input" /><br /><br />
  <input class="button is-success" type="submit" value="Armar" />
</form>

<%- include('includes/foot.ejs') %>
